
:root {
  /* tema de aplicación */
  --primary-color: #0000ff;
  --primary-font-color: #ffffff;
  --accent-color: #ffffff;
  --accent-lightcolor: #eeeeee;
  --accent-font-color: #565656;
  --accent-font-darkcolor: #000000;
  --accent-font-lightcolor: #cccccc;
}

html {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}