/* Layout de Juego */
#game-screen {
  z-index: 10;
}

#game-view {
  position: fixed;
  top: 0;
  left: 0;
}

.joy {
  position: fixed;
  bottom: 0;
  width: 40vh;
  height: 40vh;
}

#joy-left--area {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
}

#joy-left {
  left: 0;
}

#joy-right {
  right: 0;
  margin: 20px;
}